APP_NAME={{ project_name }}
APP_VERSION=0.1.0
API_DEFAULT_VERSION=v1
DEBUG=false
ENVIRONMENT=development

{% if db_engine == 'postgresql' %}
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/{{ project_slug }}
{% elif db_engine == 'mysql' %}
DATABASE_URL=mysql+asyncmy://root:password@localhost:3306/{{ project_slug }}
{% else %}
DATABASE_URL=sqlite+aiosqlite:///./{{ project_slug }}.db
{% endif %}
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=10
DB_ECHO=false

CORS_ORIGINS=["*"]

LOG_LEVEL=INFO
